body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vw;
}

#button_box {
    width: 200px;
    height: 80px;
    background-color:antiquewhite;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}
#rotating_line {
    width: 300px;
    height: 40px;
    background: linear-gradient(45deg,rgba(0, 0, 255, 0.852),rgba(255, 0, 0, 0.815));
    rotate: -30deg;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}    
button{
    position: absolute;
    width: 200px;
    height: 75px;
    border-radius: 100px;
    margin-top: 80px;
    border: none;
}    
    


        
            
    
    
     
